<div class="col-md-10 text-center">
  <table class="table-stripped">
    <thead class="thead-inverse">
      <tr>
        <td>Emp Id </td>
        <td>Name </td>
        <td>Email </td>
        <td>Phone </td>
        <td>Salary </td>
        <td>Photo </td>
        <td>Appraisal Rating </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="employees.length==0">
        <td colspan="7">
          No Rrcords Found...
        </td>
      </tr>
      
      <tr *ngFor="let emp of employees">
        <td>{{emp.empId}}</td>
        <td>{{emp.name|uppercase}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.phone|number}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.photo}}</td>
        <td>{{emp.appraisalRating}}</td>
      </tr>
    </tbody>
  </table>
</div>

    