<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">
        .form-container {

            width: 400px;
            margin: auto;
            margin-top: 50px;
            padding: 50px;
            background-color: #4BB5C1;
            color: #FFF4E0;
        }

        .btn {
            display: inline-block;
            padding: 15px 25px;
            font-size: 15px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #EDF7F2;
            border: none;
            font-weight: bold;
            color: black;
            border-radius: 15px;
            box-shadow: 0 9px gainsboro;
        }

        .btn-link {
            float: right;
            ;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 80px;
            padding-top: 20px;
        }

        #grad4 {
            height: 100px;
            background-image: linear-gradient(-90deg, silver,white);
            }
    </style>
</head>

<body id="grad4">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    Shopping Cart
                </a>

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/">About</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</body>